<include file="Public/side" title="Admin Index" />

		<div class="col-xs-9" role="main">
			<div class="bs-docs-section">
				<div class="page-header">
					<h1 id="overview">概览</h1>
				</div>
				<p class="lead">深入了解Bootstrap底层结构的关键部分，包括我们让web开发变得更好、更快、更强壮的最佳实践。</p>

				<h3 id="overview-doctype">HTML5文档类型</h3>
				<p>Bootstrap使用到的某些HTML元素和CSS属性需要将页面设置为HTML5文档类型。在你项目中的每个页面都要参照下面的格式进行设置。</p>
				<div class="highlight">
					<pre>
						<code class="language-html xml">
							<span class="doctype">&lt;!DOCTYPE html&gt;</span>
<span class="tag">&lt;<span class="title">html</span> <span
								class="attribute">lang</span>=<span class="value">"zh-cn"</span>&gt;</span>
  ...
<span class="tag">&lt;/<span class="title">html</span>&gt;</span>
						</code>
					</pre>

				</div>
			</div>
		</div>



