<!DOCTYPE html>
<html lang="zh-cn">
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <!-- 移动设备上禁止缩放 -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <!-- 弹窗css，可以在artDialog5.0找到你喜欢的颜色方案  -->
		<link rel="stylesheet" href="__PUBLIC__/css/admin/artDialog5.0/blue.css" />
	    <!-- Bootstrap -->
	    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
	    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-theme.min.css" />
	    
		<link rel="stylesheet" href="__PUBLIC__/css/admin/admin.css" />
		
		<script type="text/javascript">
			var PUBLIC = '__PUBLIC__';
			var MODULE = '__MODULE__';
			
		</script>
		
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="__PUBLIC__/js/admin/artDialog.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/admin/admin.js"></script>
		
	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
	        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
	    <![endif]-->
		
		
		<title>[title]</title>
	</head>
	<body>
	
