@font-face {
	font-family: 'euphoria_scriptregular';
	src: url('../../fonts/euphoriascript-regular-webfont.eot');
	src: url('../../fonts/euphoriascript-regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../../fonts/euphoriascript-regular-webfont.woff') format('woff'),
		url('../../fonts/euphoriascript-regular-webfont.ttf')
		format('truetype'),
		url('../../fonts/euphoriascript-regular-webfont.svg#euphoria_scriptregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
	color: #636065;
}

label {
	font-weight: normal;
}

footer {
	margin-top: 60px;
	font-size: 12px;
	text-align: center;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading {
	font-family: "carter_oneregular", serif;
	font-size: 48px;
	text-align:center;
}

.form-signin .form-signin-heading-sm {
	font-family: "carter_oneregular", serif;
	font-size: 24px;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin p {
	margin: 12px 0;
	font-size: 12px;
}

.input_div {
	width:100%;
	margin:0px;
}
.verify{
	margin-top:5px;
}
.verify img{
	width:60%;
}
#login_error {
	margin-bottom:3px;
	padding:5px 5px 5px 10px;
	display:none;
}